<template>
    <v-card>
        <v-card-title>씨알유디다</v-card-title>
        <v-data-table :headers="headers" :items="items">
            <template v-slot:items="props">
                <td>{{ props.itme.id }}</td>
                <td class="text-xs-right">{{ props.item.createAt }}</td>
                <td class="text-xs-right">{{ props.item.title }}</td>
                <td class="text-xs-right">{{ props.item.content }}</td>
            </template>
        </v-data-table>
        <v-card-actions>
            <v-spacer/>
            <v-btn @click="openDialog('create')">생성</v-btn>
        </v-card-actions>
        <v-dialog v-model="dialog">
            <v-card>
                <v-card-title>쓰기 및 수정</v-card-title>
                <v-card-text>
                    <v-form>
                        <v-text-field v-model="form.title"></v-text-field>
                        <v-textarea v-model="form.content"></v-textarea>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="create">작성</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            headers: [
                {text: 'id', value: 'id'},
                {text: '생성일', value: 'createAt'},
                {text: '제목', value: 'title'},
                {text: '내용', value: 'content'},
            ],
            items: [],
            dialog: false,
            form: {
                title: '',
                content: ''
            },
            mode: 'create',
            seletedItem: null
        }
    },
    methods: {
        openDialog(mode, id) {
            this.mode = mode
            if (mode === 'create') {
                this.form.title = ''
                this.form.content = ''
            } else if (mode == 'update') {
                this.seletedItem = id
            }

            this.dialog = true
        },
        create () {
            const item = {
                id: Math.random(),
                title: this.form.title,
                content: this.form.content,
                createAt: new Date().toString()
            }
            this.items.push(item)
            this.dialog = false
        },
        read () {

        }
    }
}
</script>