<template>
    <v-card>
        <v-card-title>
            아녕
        </v-card-title>
        <v-card-text>
            <v-textarea v-model="text"/>
            <v-textarea v-model="config"/>
        </v-card-text>
        <!-- <v-card-actions>
            <v-btn @click="test">test</v-btn>
            <v-btn @click="hello">hello</v-btn>
            <v-btn @click="moment">moment</v-btn>
            <v-btn @click="dialog">dialog</v-btn>
            <v-btn @click="configFunc">configFunc</v-btn>
        </v-card-actions> -->
        <v-card-actions>
            <v-btn @click="write">쓰기</v-btn>
            <v-btn @click="read">읽기</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>

export default {
    data() {
        return {
            text: 'www',
            config: '',
        }
    },
    methods: {
        write() {
            this.$db.collection('bowlingman').add({
                first: 'mini',
                lase: 'An',
                born: 1987
            })
        },
        read() {
            this.$db.collection('bowlingman').get().then((querySnapshot) => {
                querySnapshot.forEach(element => {
                    console.log(`${element.id} => ${JSON.stringify(element.data())}`)
                    
                });
            })
        },
        configFunc() {
            this.config = process.env.dbUrl
            console.log(process.env)
        },
        async test() {
            this.text = 'ggggggg'
            const r = await this.$axios.get('/api')

            this.text = r.data
        },

        async hello() {
            this.text = '아직임헬로우'
            const r = await this.$axios.get('/api/hello')
            this.text = r.data
        },

        moment() {
            this.text = this.$moment().toLocaleString()
        },

        async dialog() {
            
            const res = await this.$dialog.confirm({
                title: '다이얼로그',
                text: '다이얼로그입니다.'
            })

            this.text = res
        },

        // end: {}
    }
}
</script>